* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

.error{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #28363f;
    color: #FFFFFF;
    font-size: 22px;
}