.season-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 22px;
    /*color: rgb(233, 0, 0);*/
    color: white;
}